// partials/form/_login.scss

main {
  // Login
  .login {

    // Forgot Password link
    .forgot_password.custom-form-link  {
      color: $color_text_1;
      font-family: $primary_font;
      font-size: $text_size_1;
    }
  }
}
