// partials/_algolia.scss

// Algolia Style reset
// .ap-input {
  // &::placeholder {
  //   font-family: $primary_font;
  //   color: $placeholder_text_color;
  //   opacity: 1; /* Firefox */
  // }

  // &:focus, &:active {
  //   border-color: $color_text_1;
  //   outline: 0;
  //   box-shadow: 0 0 0;
  // }
// }

// Algolia X icon
.ap-input-icon.ap-icon-clear {
  display: none;
}

// Algolia Footer
.ap-footer {
  display: none;
}

.ap-dropdown-menu.ap-with-places {
  box-shadow: 0 0 0;
  border: 1px solid $color_text_1;
  border-top: 0;
  border-radius: 0;
  top: 90% !important;

  .ap-suggestions {
    color: $color_text_1;
    font-family: $primary_font;
    font-size: $text_size_2;

    .ap-suggestion {
      height: inherit;
    }

    .ap-name > em {
      font-style: normal;
      font-weight: bold;
    }
  }
}

.ap-suggestion-icon {
  vertical-align: super;
}
