// partials/_header.scss

// Nav
header {
  width: $app_width;

  // Navbar
  .navbar {
    padding: 0;
    height: $menu_height;

    .ml-auto {
      background-color: $color_text_2;
    }
  }

  .navbar-custom {
    background-color: $color_text_2;
    @include main_wrapper;

    & .bg_custom {
      background-color: $color_text_2;
    }
  }

  // Logo
  .navbar-brand {
    padding: 0;
  }

  .nav_logo {
    width: $menu_padding_margin * 3;
    margin-left: $menu_padding_margin;
  }

  // Inline navigation menu
  .nav-item {
    height: 100%;
    line-height: $menu_height;
    margin-left: $menu_padding_margin;

    & > span {
      font-family: $primary_font;
      color: $color_text_1;
      font-size: $text_size_3;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 0;

    & > span {
      font-family: $primary_font;
      color: $color_text_1;
      font-size: $text_size_3;
      text-transform: capitalize;
      font-weight: bold;
    }
  }

  .navbar .navbar-collapse .navbar-nav .nav-item:not(:last-child) .nav-link {
    &:hover {
      & > span {
        color: $color_buttons;
        border-bottom: 2px solid $color_buttons;
      }
    }
  }

  .navbar .navbar-collapse .navbar-nav .nav-item.nav_before_log {
    margin-right: $menu_padding_margin;
  }

  // Login
  .navbar .navbar-collapse .navbar-nav .nav-item.nav_login_logout {
    background-color: $color_buttons;
    padding: 0 $menu_padding_margin;
    margin: 0;

    &:hover {
      background-color: $color_button_hover;
    }

    & .nav-link > span {
      color: $color_text_2;
    }
  }

  // User User name
  .collapse.navbar-collapse .navbar-nav.ml-auto .nav-item > span.user_name {
    color: $color_buttons;

    &.icon_fontawesome::before {
      @include icons_after_before;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      color: $color_text_3;
      margin-right: 10px;
      content: "\f164"
    }
  }

  // Hamburger menu
  .navbar button.custom-toggler.navbar-toggler {
    background-color: $color_buttons;
    height: $menu_height;
    padding:0 $menu_padding_margin * 1.5;


    & .hamburger_icon i {
      font-size: $text_size_2;
      color: $color_text_2;
    }
  }
}
