// partials/_main.scss

main {
  padding-top: $menu_height;

  // Main title
  .main_title {
    margin: $margin_section_title;

    // Top title
    .top_title > h4 {
      font-family: $primary_font;
      color: $color_text_5;
      font-size: $h4_text_size;
      @include main_top_title;
      display: inline-block;
    }

    // Sub title
    .sub_title > h3 {
      font-family: $secondary_font;
      color: $color_text_3;
      font-size: $h3_text_size;
      @include main_sub_title;

      // Icons after e before title
      &.icon_fontawesome::before,
      &.icon_fontawesome::after {
        @include icons_after_before;
      }

      &.icon_fontawesome::before {
        @include icons_title;
        font-size: $icons_title;
        margin-right: 25px;
        color: $color_buttons;
        transform: rotate(-45deg);
      }

      &.icon_fontawesome::after {
        @include icons_title;
        font-size: $icons_title;
        margin-left: 25px;
        color: $color_buttons;
        transform: rotate(45deg);
      }
    }
  }

  // VIEW NEW SUITES
  .anteprima{
    #output,#output1,#output2,#output3{
      margin: auto;
      max-width: fit-content;
    }
  }

  .invia{
    .btn{
      background: #cf4532;
      padding: 10px 20px;
      color:  #F6F4F2;
      &:hover{
        background: #8b0000;
      }
    }
  }
}
