// partials/_suites_cards.scss

main {

  // Section suites cards
  section.suites_cards {
    padding: $padding_section;

    .card-deck {
      & > .card {
        background-color: $color_text_2;

        .card-img-top {
          width: 100%;
          height: $card_image_height;
          object-fit: cover;
        }

        .card-body {
          font-family: $primary_font;
          color: $color_text_1;
          text-transform: lowercase;
          height: $card_body_height;
          width: 100%;

          // Card Title
          .card-title {
            font-family: $secondary_font;
            font-size: $text_size_1;
            text-transform: capitalize;
            margin:0 0 5px 0;
            color: $color_buttons;
          }

          // Card Address
          .card-text {
            font-size: 12px;
            margin: 0 0 10px 0;
          }

          // Card Price
          .price > span {
            font-weight: bold;
            color: $color_text_3;
            font-size: $text_size_1;
            text-transform: capitalize;

            &::after {
              @include icons_after_before;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              margin-left: 2px;
              font-size: $text_size_icon_price;
              content: "\f153";
            }
          }

          .services {
            color: $color_text_3;
            font-size: $text_size_1;
          }

          // Card button to show
          .suite_show_link {
            & > a {
              background-color: $color_buttons;
              font-family: $primary_font;
              font-size: $text_size_4;
              font-weight: normal;
              text-transform: capitalize;
              padding: $padding_show_button;

              & > span {
                &::after {
                  font-weight: normal;
                  margin-left: 5px;
                  vertical-align: sub;
                  font-size: $icon_show_size;
                  display: inline-block;
                  content: "\1F441";
                }
              }

              &:hover {
                background-color: $color_button_hover;
              }
            }
          }
        }
      }
    }
  }
}
