// partials/_varaiables.scss

// Reset
$border_none: none;
$outline_none: none;
$box_shadow_none: 0 0 0 0;
$text_decoration_none: none;

// General
$app_width: 1200px;

// Header
// => Menu
$menu_padding_margin: 30px;

// Jumbotron
// => Carousel
$carousel_content_height: 480px;

// => Jumbotron container
$jumbotron_container_padding_top: 100px;

// =>=> Title jumbotron
$margin_top_title_jumbotron: 20px;

// =>=> Search bar
$margin_top_search_bar: 20px;
$width_button_search_bar: 40px;

// =>=>=> Dropdown menu algolia
$width_dropdown_menu: 99.8%;
$internal_padding_dropdown_menu: 15px;
$suggestions_padding: 20px;

// Main
$menu_height: 60px;

// Section title
$margin_section_title: 0 0 50px 0;

// Footer
// => My presentation
$footer_menu_padding: 15px 0 5px 0;
$my_presentation_height: 130px;
$height_title_carousel: 120px;

// => Socials
$icons_socials_size: 25px;

// => => Carousel indicators
$bottom_position_indicators: 90px;
$bottom_position_carousel_title: -15px;
$width_face_indicators: 45px;
$margin_face_indicators: 0 10px;

// Wrapper
$main_padding: 100px;

// Typography
// => Font family
$primary_font: 'Poppins', sans-serif;
$secondary_font: 'Quando', serif;

// => Text size
$text_size_1: 15px;
$text_size_2: 20px;
$text_size_3: 14px;
$text_size_4: 12px;

// =>=> Text title jumbotron
$jumbo_h1: 44px;

// =>=> Section title
$h3_text_size: 32px;
$h4_text_size: 16px;
$icons_title: 24px;

///////////////////////////
$icon_size: 18px;

// Colors
// => Text
$color_text_1: #272728;
$color_text_2: #f6f4f2;
$color_text_3: #2d3f53;
$color_text_4: #fff;
$color_text_5: #d7d7dc;
$placeholder_text_color: #bebebe;

// => Buttons
$color_buttons: #cf4532;
$color_button_hover: #a73727;
